#game-iframe {
    display: block;
    position: relative;
    left: -20px;
    width: 100vw;
    aspect-ratio: 16 / 9;
    border: none;
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    outline: none;
}
@media (orientation: portrait) {
    #game-iframe {
        aspect-ratio: 9 / 16;
    }
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.fullscreen-link {
    display: inline-flex;
    align-items: center;
}
