#game-iframe {
    display: block;
    position: relative;
    left: -20px;
    width: 100vw;
    height: 90vh;
    border: none;
    border-top: 2px solid #111;
    outline: none;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullscreen-link {
    display: inline-flex;
    align-items: center;
}
