<FilesMatch "\.(html|htm)$">
    Header set Content-Type "text/html; charset=UTF-8"
</FilesMatch>

<FilesMatch "\.br$">
    Header set Content-Encoding "br"
</FilesMatch>

<FilesMatch "\.(html|js)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires 0
</FilesMatch>