<style>
	body {
		background-color: black;
		margin: 0;
		padding: 0;
	}
	nav .home img {
		opacity: 0;
	}
	.theme-toggle {
		opacity: 0;
	}
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="ChicknTurtle.ninja">
<link rel="apple-touch-icon" href="/assets/images/icon-512x.png">
<title>ChicknTurtle.ninja</title>
<link rel="icon" href="/assets/images/favicon.png" type="image/png">
<link rel="stylesheet" href="/css/style.css">
