<link rel="stylesheet" href="/css/nav.css">
<link rel="preload" href="/assets/images/light-theme.png" as="image">
<link rel="preload" href="/assets/images/dark-theme.png" as="image">
<nav>
	<a href="/" class="home">
		<img src="/assets/images/home.png" alt="Home" draggable="false">
	</a>

	<div class="nav-right">
		<div class="nav-links">
			<a href="/games">Games</a>
			<a href="https://github.com/ChicknTurtle/" target="_blank">GitHub</a>
		</div>
		<img class="theme-toggle" src="/assets/images/dark-theme.png" alt="Toggle theme" id="themeToggle" draggable="false">
	</div>
</nav>
